@font-face {
    font-family: "Figtree";
    src: local("Figtree Medium"), 
        url("/assets/fonts/Figtree-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Figtree";
    src: local("Figtree ExtraBold"), 
        url("/assets/fonts/Figtree-ExtraBold.ttf");
    font-weight: 800;
}


/* defaults */
:root {
    --clr-yellow: hsl(47, 88%, 63%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-blue: hsl(228, 45%, 44%);
    --clr-gray-500: hsl(0, 0%, 42%);
    --clr-gray-950: hsl(0, 0%, 7%);

    --fs-800: 1.5rem;
    --fs-400: 1rem;
    --fs-350: 0.9375rem;
    --fs-100: 0.6875rem;

    --fw-500: 500;
    --fw-800: 800;

    --br-400: 1rem;
    --br-200: 0.5rem;
    --br-100: 0.25rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}

a {
    color: #000;
    text-decoration: none;
}


/* Typography */
html {
    font-size: 16px;
}

body {
    font-family: "Figtree", Arial, Helvetica, sans-serif;
    font-weight: var(--fw-500);
    font-size: var(--fs-350);
    background-color: var(--clr-yellow);
}

h1 {
    font-size: var(--fs-800);
    font-weight: var(--fw-800);
}
p {
    font-size: var(--fs-400);
}


/* site layout */
.site-wrapper {
    display: grid;
    grid-template-rows: auto 2rem;
    min-height: 100vh;
}
footer {
    padding: 0.5rem;
    display: grid;
    text-align: center;
}


/* card design */
.card {
    display: grid;
    gap: 1rem;
    background-color: var(--clr-white);
    max-width: 370px;
    margin: 1rem;
    place-self: center;
    padding: 1.2rem;
    border-radius: var(--br-400);
    border: 2px solid var(--clr-gray-950);
    box-shadow: 0.4rem 0.4rem var(--clr-gray-950);
}

/* card image */
.card__img {
    order: -1;
    height: 200px;
}
.card__img > img {
    border-radius: var(--br-400);
    object-fit: cover;
}


/* card content */
.card__content {
    display: grid;
    gap: 1rem;
}

.card__heading:hover > a {
    color: var(--clr-yellow);
    cursor: pointer;
}

.card__type {
    order: -2;
    background-color: var(--clr-yellow);
    justify-self: start;
    padding: 0.4rem 0.8rem;
    font-weight: var(--fw-800);
    border-radius: var(--br-100);
    margin-bottom: -0.3rem
}

.card__text {
    color: var(--clr-gray-500);
    line-height: 1.5;
}

.card__published-date {
    order: -1;
}

.card__author {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.card__author-img {
    height: 2.5rem;
}
.card__author-name {
    font-weight: var(--fw-800);
}


/* attribution */
.attribution { 
    font-size: var(--fs-100); 
}
.attribution a { 
    color: var(--clr-blue);
}